{% extends'base.html.twig' %}
{% block body %}
<h2>Qui sommes nous ?</h2>

    <h3>Nous sommes vous !!</h3>
    <p>Cette plateforme est née d'une difficulté à trouver un endroit safe, non déstabilisant pour que notre chien</p>
    <p>Nous sommes une entreprise française à taille humaine consciente des problèmatiques du quotidien.
        Rencontrant simplement les difficultés liées aux absences pour les vacances, nous avons chercher
        des solutions simples et efficaces pour les résoudre.
    </p>

    <p> Avantages liés à faire appel à nos services :

        - Logement sécurisé et entretenu
        - Animal de compagnie, gardé et choyé
        - Possibilité d'échange entre inscrtis
        - Logement de vacances dans les quatre coins de l'Europe
    </p>




{% endblock %}