{% extends'base.html.twig' %}
{% block body %}

    <h1>Bienvenue sur le site de petites annonces HomePlace Collaboration</h1>

    <p> Ce site à pour vocation de proposer des maisons disponibles pendant les vacances en
        échange de gardiennage des lieux et ou des animaux.
        Sont également demandés, quelques menus travaux d'entretien en échange de la gratuité
        de la maison ou de l'appartement.</p>
    <p>Cette solution permet de garder ou faire garder votre domicile et vos animaux pendant
        vos absences. En sécurité, la présence de vie, éloigne de fait les risques de cambriolage.
    </p>
    <p>
        Pour connaître les annonces en cours ou proposer des logements disponibles, veuillez
        vous identifier ou vous inscrire.

    </p>

{% endblock %}